$colorA: #909399;
$colorB: #2c3e50;
$colorC: #303133;
$colorD: #999;
$colorE: #f5dae1;
$colorF: #e5a2b4;
$colorG: #fcf6f8;
$colorH: #fff;


$fontA: 34px;
$fontB: 22px;
$fontC: 18px;
$fontD: 16px;
$fontE: 14px;
$fontF: 12px;
$fontG: 20px;